
@{
    ViewBag.Title = "MentorAdd";
}


@{
    ViewBag.Title = "SingleInstitutionList";
}


@{
    ViewBag.Title = "InstitutionUpdate";
}

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="">
    <section class="">
        <header class="">

            <nav class="navbar navbar-expand-lg navbar-light shadow-sm m-1 p-1  ">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">

                            <a class="btn btn-outline-primary m-1" href="~/Admin/Index" role="button">Index</a>
                            <a class="btn btn-outline-primary m-1" href="~/Admin/AdminProfile" role="button">Profile</a>
                            <a class="btn btn-outline-primary m-1" href="~/Admin/AdminUpdate" role="button">Profile Update</a>
                            <a class="btn btn-outline-danger m-1" href="~/Admin/AdminLogout" role="button">Logout</a>

                        </div>
                    </div>
                </div>
            </nav>


        </header>
    </section>
    <section class="">
        <div class="row">
            <div class="col-lg-3 h-100">

                <div class="d-grid gap-2 shadow-lg m-1 p-3">

                    <h5>Varsity</h5>
                    <a href="~/AdminInstitution/InstitutionList" class="btn btn-outline-primary">Varsity List</a>
                    <a href="~/AdminInstitution/InstitutionAdd" class="btn btn-outline-primary">Add Varsity</a>

                    <h5>Mentor</h5>
                    <a href="~/AdminMentor/MentorList" class="btn  btn-outline-primary">Mentor List</a>
                    <a href="~/AdminMentor/MentorAdd" class="btn  btn-outline-primary">Add Mentor</a>

                    <h5>Student</h5>
                    <a href="~/AdminStudent/StudentList" class="btn  btn-outline-primary">Student List</a>
                    <a href="~/AdminStudent/StudentAdd" class="btn  btn-outline-primary">Add Student</a>
                    <h5>Courses</h5>
                    <a href="~/AdminCourse/AddCourse" class="btn  btn-outline-primary">Add Course</a>
                    <a href="~/AdminCourse/CourseList" class="btn  btn-outline-primary">Course List</a>
                    <h5>Transactions</h5>
                    <a href="~/AdminTransaction/TransactionHistory" class="btn  btn-outline-primary">All Transaction</a>
                    <h5>Search</h5>
                    <a href="~/AdminStudent/StudentSearch" class="btn  btn-outline-primary">Search Student</a>
                    <a href="~/AdminInstitution/InstitutionSearch" class="btn  btn-outline-primary">Search Institution</a>
                    <a href="~/AdminMentor/MentorSearch" class="btn  btn-outline-primary">Search Mentor</a>
                    <h5>Password Change Request</h5>
                    <a href="~/AdminStudent/StudentPasswordChangeRequest" class="btn  btn-outline-primary">Student</a>
                    <a href="~/AdminInstitution/InstitutionPasswordChangeRequest" class="btn  btn-outline-primary">Institution</a>
                    <a href="~/AdminMentor/MentorPasswordChangeRequest" class="btn  btn-outline-primary">Mentor</a>
                    <h5>Revenue</h5>
                    <a href="~/AdminRevenue/Revenue" class="btn  btn-outline-primary">Revenue Details</a>
                    <h5>Certificate Request</h5>
                    <a href="~/AdminStudent/StudentCertificate" class="btn btn-outline-primary">Certificate Request</a>


                </div>

            </div>
            <div class=" col-lg-9  ">
                <div class="shadow-lg m-1 p-3 h-100 ">
                    <table class=" table table-striped table-bordered border-primary">
                        <form action="" method="post">
                        <tbody>


                            <tr>
                                <td>Name:</td>
                                <td>
                                    <input type="text" name="Name"  value="@(Model != null ? Model.Name : "")" class="form-control" />

                                    @Html.ValidationMessage("Name", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>

                                <td>Address</td>
                                <td>
                                    <input type="text" name="Address"  value="@(Model != null ? Model.Address : "")" class="form-control" />
                                    @Html.ValidationMessage("Address", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>Email:</td>

                                <td>
                                    <input type="text" name="Email"  value="@(Model != null ? Model.Email : "")" class="form-control" />
                                    @Html.ValidationMessage("Email", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>Phone:</td>

                                <td>
                                    <input type="text" name="Phone"  value="@(Model != null ? Model.Phone : "")" class="form-control" />
                                    @Html.ValidationMessage("Phone", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>Password:</td>

                                <td>
                                    <input type="text" name="Password"  value="@(Model != null ? Model.Password : "")" class="form-control" />
                                    @Html.ValidationMessage("Password", new { @class = "text-danger" })
                                </td>
                            </tr>
               
                            <tr>
                                <td>Gender</td>
                                <td>

                                    <select class="text-dark" name="Gender" id="Gender">


                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Others">Others</option>

                                    </select>

                                </td>

                            </tr>


                            <tr>
                                <td>Institution:</td>

                                <td>
                                    <input type="text" name="Institution"  value="@(Model != null ? Model.Institution : "")" class="form-control" />
                                    @Html.ValidationMessage("Institution", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td><input type="submit" class="btn btn-success" /></td>
                            </tr>





                        </tbody>

                        </form>




                    </table>
                </div>

            </div>

        </div>

    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
















